{% extends 'layout.html' %}

{% block content %}
<br>
<br>
    <div class="container text-center">
        <div class="row">
            <div class="col-3 align-self-start">
                <br>

                <br>
            </div>
            <div class="col-6 align-self-right bg-body">
                <br>
                <h3>
                  Samples from the Humidity sensor
                  <small class="text-body-secondary"></small>
                </h3>

                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Location</th>
                        <th scope="col">Sample Time</th>
                        <th scope="col">Humidity [%]</th>
                        <th scope="col">Alarma</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for data in hum %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ data.1 }}</td>
                                <td>{{ data.2 }}</td>
                                <td>{{ data.3 }}</td>
                                <td>
                                  {% if data.3 >= 70 %}
                                    🚨
                                  {% else %}
                                    ✅
                                  {% endif %}
                                </td>
                            </tr>
                        {% endfor %}    
                    </tbody>
                </table>

            </div>
            <div class="col-3 align-self-end">
                <br>
            </div>
        </div>
    </div>
{% endblock %}