{% extends 'layout.html' %}

{% block content %}
<div class="container text-center">
  <h2>Plots of the data obtained from the sensors</h2>
    <br>

    <br>
    <div class="row">
        <div class="col">
            
          </div>
          <div class="col-6">
        
            <br>
            
            <canvas id="myChart1"></canvas>
            <br>
            <canvas id="myChart3"></canvas>
            <br>
            <canvas id="myChart2"></canvas>
            <br>
            <br>
            <br>
            <br>
        </div>
        <div class="col">
          
        </div>
      </div>
    

</div>

    

{% endblock %}